.nav-item {
    color: black;
    text-decoration: none;
}

.nav-item:hover {
    color:lightskyblue;
}

.modal-btn {
    background-color: lightskyblue;
}

.section-grey {
    background-color: #f4f3f3;
}

.section-heading {
    background-color: lightskyblue;
    display: inline-block;
    padding: 2px 10px;
    margin-bottom: 40px;
}

.hero-section {
    width: 100%;
    background-image: url("../images/hero_bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profile-img {
    display: block;
    width: 100%;
    border: 10px white solid;
}

.hero-text h2 {
    font-size: 45px;
}

.hero-text p {
    font-size: 22px;
}

.about-section {
    font-size: 18px;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1;
}

.card {
    margin-bottom: 15px;
}

.btn:focus {
    box-shadow: none;
}

i {
    font-size: 80px;
}

.carousel-control-prev-icon {
    background:url("../images/directional_chevrons/left_facing_chevron.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-control-next-icon {
    background:url("../images/directional_chevrons/right_facing_chevron.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn-primary {
    background: lightskyblue;
    border: 1px solid lightskyblue;
    color: black;
}

.projects-section .row {
    --bs-gutter-x: 0;
}

footer img {
    width: 40px;
}

@media (min-width: 767px) {
   .card {
        margin-right: 15px;
    }
}

@media (min-width: 991px) {
    .card {
        margin-bottom: 15px;
    }
    /* Force form width decrease on tablet devices and bigger  */
    .w-100 {
        width: 50% !important;
    }
}

@media (min-width:1200px) {
    /* Center and align content in hero section */
    .hero-section .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .main-profile-img {
        width: 50%;
    }

    .hero-text {
        width: 50%;
        padding-top: 0;
    }

    .profile-img {
        width: 50%;
    }
    .experience .card {
        padding: 25px 0;
    }

    .experience .card-text {
        padding: 10px;
    }

    .projects-section .row {
        justify-content: center; /* Center projects on large screen */
    }
}
